<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="codeserveer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <codeserveer.Properties.Settings>
            <setting name="Textcomport" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Textbox2" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="Textbox11" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Textbox14" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Textbox15" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Textbox16" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Textbox8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Textbox9" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="textBaudrate" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="textSlot" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="textChecksum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBox5" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value>I-7052</value>
            </setting>
            <setting name="textTotalChannel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="textTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="textBox13" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="textBox12" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="textBox17" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="textBox18" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="textBox19" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="K_talblok" serializeAs="String">
                <value>1</value>
            </setting>
        </codeserveer.Properties.Settings>
    </userSettings>
</configuration>
